<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ATSApplicationFontsPath</key>
	<string>Shared/fonts/</string>
	<key>CFBundleDisplayName</key>
	<string>Samsung Pinger</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.widgetkit-extension</string>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>dev.hloth.samsung-pinger</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>samsung-pinger-widget</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>samsungsharpsans-bold.otf</string>
	</array>
</dict>
</plist>
